<!-- NGX SPINNER  -->
<ngx-spinner *ngIf="loader" type="square-jelly-box" size="large" color="white">
</ngx-spinner>

<form #myForm=ngForm>
    <div class='main_div'>

        <div class='commondiv'>
            <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <mat-select [(ngModel)]='Employee.employeename' name='employeename'>
                    <mat-option value='{{item.firstName}}' *ngFor='let item of arr1'>{{item.firstName}}</mat-option>

                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]='Employee.date' name='date' required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

        </div>

        <div class="commondiv">

            <mat-form-field appearance="outline">
                <mat-label>Projects</mat-label>
                <input matInput [(ngModel)]='Employee.projects' type="text" name='projects' required autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Assigned Hours</mat-label>
                <input matInput [(ngModel)]='Employee.assignedhours' type="number" name='assignedhours' required
                    autocomplete="off">
            </mat-form-field>

        </div>

        <div class="commondiv">
            <mat-form-field appearance="outline">
                <mat-label>Hours</mat-label>
                <input matInput [(ngModel)]='Employee.hours' type="number" name='hours' required autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]='Employee.description' type="text" name='description' required
                    autocomplete="off">
            </mat-form-field>

        </div>


        <div class=btngroup>
            <button mat-raised-button mat-dialog-close color="warn">Close</button>
            <button (click)='addingTodayWork()' [disabled]="!myForm.valid" mat-raised-button color="primary"
                mat-dialog-close>Add</button>


        </div>
    </div>
</form>