<!-- NGX SPINNER  -->
<ngx-spinner *ngIf="loader" type="square-jelly-box" size="large" color="white">
</ngx-spinner>

<div class='holidays'>
  <h2>Leaves</h2><button mat-raised-button color="primary" (click)='addingLeavesAdmin()'>Add Leave</button>
</div>


<mat-form-field class="example-full-width filterInput" appearance="fill">
  <mat-label>Filter...</mat-label>
  <input matInput (keyup)='applyFilter($event)'>
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="leavetype">
    <th mat-header-cell *matHeaderCellDef> Leave Type </th>
    <td mat-cell *matCellDef="let element"> {{element.leavetype}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef> From </th>
    <td mat-cell *matCellDef="let element"> {{element.from | date}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="to">
    <th mat-header-cell *matHeaderCellDef> To </th>
    <td mat-cell *matCellDef="let element"> {{element.to | date}} </td>
  </ng-container>

  <ng-container matColumnDef="noofdays">
    <th mat-header-cell *matHeaderCellDef> No. Of Days </th>
    <td mat-cell *matCellDef="let element"> {{element.noofdays}} </td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef> Reason </th>
    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)='editingLeavesAdmin(element)' class='edit_icon'>edit</mat-icon> &nbsp; <mat-icon
        (click)='deletingLeavesAdmin(element._id)' class='delete_icon'>delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>