.main_div{
    border: 1px solid rgb(139, 139, 139);
    width: 330px;
    height:330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

mat-form-field{
    width: 270px;
}


.btngroup{
   
    width: 270px;
    height: 47px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}








