
.container_custom{
    height: 500px;
    overflow-y: scroll;
}

.closebtn{
    /* border: 2px solid red; */
    text-align: right;
}


.closebtn mat-icon{
    position: relative;
    bottom: 13px;
}

.closebtn mat-icon:hover{
    color: red;
}





