.main_div{
    border: 1px solid rgb(139, 139, 139);
    width: 320px;
    height:450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

mat-form-field{
    width: 270px;
    height: 60px;
}



.btngroup{
  
    width: 270px;
    height: 47px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}






