<!-- NGX SPINNER  -->
<ngx-spinner *ngIf="loader" type="square-jelly-box" size="large" color="white" >
</ngx-spinner> 


<form #myForm=ngForm>
    <div class='main_div'>
        <mat-form-field appearance="outline"  id='inp1'>
            <mat-label>firstName</mat-label>
            <input matInput [(ngModel)]='employee1.firstName' type="text" value='{{data.elem.firstName}}'
                name='firstName' required autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline"  id='inp1'>
            <mat-label>lastName</mat-label>
            <input matInput [(ngModel)]='employee1.lastName' type="text" value='{{data.elem.lastName}}'
                name='lastName' required autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline"  id='inp2'>
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]='employee1.email' type="email" value='{{data.elem.email}}' name='email' required  autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline" id='inp3'>
            <mat-label>phone</mat-label>
            <input matInput  [(ngModel)]='employee1.phone' type="text" value='{{data.elem.phone}}'
                name='phone' required autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline" id='inp3'>
            <mat-label>areaofwork</mat-label>
            <input matInput  [(ngModel)]='employee1.areaOfWork' type="text" value='{{data.elem.areaOfWork}}'
                name='areaOfWork' required autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]='employee1.role' name='role' value='{{data.elem.role}}'>
              <mat-option value="user">user</mat-option>
              <mat-option value="admin">admin</mat-option>
            </mat-select>
          </mat-form-field>

      
     <div class=btngroup>
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
        <button [disabled]="!myForm.valid" mat-raised-button color="primary" (click)="updatingEmployee(myForm)" mat-dialog-close>Update</button>
    </div>

      
    </div>
</form>