
<!-- NGX SPINNER -->
<ngx-spinner *ngIf="loader" type="square-jelly-box" size="large" color="white">
</ngx-spinner>


<form #myForm=ngForm>
 
    <div class="container">
     



        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput [(ngModel)]='admin.oldPassword' type="password" name='oldPassword' required
                        autocomplete="off">
                </mat-form-field>
               

            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput [(ngModel)]='admin.newPassword' type="password" name='newPassword' required
                        autocomplete="off">
                </mat-form-field>
            </div>
        </div>



        <!-- Action -->
        <div class="row">
            <div class="col">
                <button [disabled]="!myForm.valid"  mat-raised-button color="primary"
                mat-dialog-close (click)='resetingPassword()'>Submit</button>
              

            </div>
            <div class="col">
                <button mat-raised-button mat-dialog-close color="warn">Close</button>
               

            </div>
        </div>

    </div>
</form>