table {
   
    width: 90%;
    margin: 0 auto;
   
  }

  mat-icon{
    cursor:pointer
  }

  .filterInput{
    width:19% ;
    margin: 5px auto !important;
    position: relative;
    left: 58px;
  }

  .employeelist1{
    /* border: 2px solid red; */
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }

  .employeelist1 h2{
    position: relative;
    top: 7px;
  }



.edit_icon:hover{
  color: #1877f2;
}

.delete_icon:hover{
  color: red;
}

.image{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  right: 5px;
  /* border: 2px solid #1877f2; */
}






