

<!-- NGX SPINNER  -->
<ngx-spinner *ngIf="loader" type="square-jelly-box" size="large" color="white" >
</ngx-spinner> 

<div class='departments'><h2>Departments</h2> <button (click)='addDepartment()'  mat-raised-button color="primary" >Add Departments</button> </div>



<mat-form-field class="example-full-width filterInput" appearance="fill">
  <mat-label>Filter..</mat-label>
  <input matInput (keyup)='applyFilter($event)'>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Number </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="departmentname">
      <th mat-header-cell *matHeaderCellDef> Department Name </th>
      <td mat-cell *matCellDef="let element"> {{element.departmentname}} </td>
    </ng-container>
  
   
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"><mat-icon class='edit_icon' (click)='openDialog(element)'  class='edit_icon'>edit</mat-icon> &nbsp; <mat-icon  class='delete_icon' (click)='deletingDepartment(element._id)' class='delete_icon'>delete</mat-icon> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  