<div class='main_container'>
    <img src="assets/RAD.jpg" alt="" width="290px" height="250px" >
    <div class='signup' >
        <h1>Signup</h1>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="number" placeholder="Mobile Number">
        <div class='radio'>
            Male <input type="radio" name='gender' checked>
            Female <input type="radio" name='gender'>

        </div>
        <input type="email" placeholder="Email Address">
        <input type="password" placeholder="Password">
        <input type="password" placeholder=" Confirm Password">
      
        <!-- <input type="date" > -->
        <button>Submit</button>
        <a routerLink="/login">Already have an account?</a>

    </div>
</div>