<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)='sidenav.toggle()'>menu</mat-icon>
    </button>
    <h1 style='margin-left: 10px;'>Dashboard</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened='true' mode='side' style='width: 200px; background-color: rgb(206, 206, 209);'>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink='/login'>Login</a>
      <a mat-list-item routerLink='/signup'>Attendence</a> -->
      <a mat-list-item (click)='auth.logout()'>Logout</a>
      <a mat-list-item routerLink="/dashboard/employeelist">Employee List</a>
      <a mat-list-item routerLink="/dashboard/holidays">Holidays</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style='height: 88vh;'>

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>