 mat-expansion-panel{
    background-color: rgb(206, 206, 209) !important;

}



.logout_anchor{
    position: relative;
    left: 8px;
}

a{
    font-size: 15px !important;
}

.is-active{
    color: #1877f2;
 
  
  
}