

.is-active{
    color: #1877f2;
 
  
  
}

.logout_anchor{
    position: relative;
    left: 8px;
}

mat-toolbar-row{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.firstdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.admin{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}










