

.is-active{
    color: #1877f2;
 
  
  
}

.logout_anchor{
    position: relative;
    left: 8px;
}

.logo{
    font-family: 'Special Elite', cursive;
    font-size: 48px;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

.logo span{
    position: relative;
    top: 7px;
}




